body {
	position: relative;
	height: 100vh;
}

/* Mobile First */
.row {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}

.box {
    background-color: deeppink;
    height: 100px;
    width: 100px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

/* Desktop styles */
@media screen and (min-width: 480px) {
    .row {
        flex-direction: row;
    }

    .box {
        &:not(:last-child) {
            margin-bottom: 0;
            margin-right: 20px;
        }
    }
}

